bankease.com {
  reverse_proxy bankease:3000
  tls internal
}

hiking.com {
  reverse_proxy hiking:4000
  tls internal
}

infinity.iciciibank.com {
  reverse_proxy iciciibank:5000
  tls internal
}

twitter.com {
  root * /twitter
  file_server
  tls internal
}