bankease.com {
  reverse_proxy csrf:3000
  tls internal
}

hiking.com {
  reverse_proxy csrf:4000
  tls internal
}

twitter.com {
  reverse_proxy csrf:5000
  tls internal
}

infinity.iciciibank.com {
  reverse_proxy iciciibank:5000
  tls internal
}
